## Practice 6 - TF-IDF models
### Strictly used for internal purpose in Singapore Polytechnic. Do not disclose!

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import pandas as pd

In [15]:
documents = ['It is going to rain today',
             'Today I am not going outside',
             'I am going to learn NLP today',
             'It is delicious dinner']
processed_docs = [doc.lower().replace(".","") for doc in documents]
processed_docs

['it is going to rain today',
 'today i am not going outside',
 'i am going to learn nlp today',
 'it is delicious dinner']

## Count Vectorizer

In [16]:
countvect = CountVectorizer()
countvect_rep = countvect.fit_transform(processed_docs)

In [17]:
pd.DataFrame(countvect_rep.toarray(),
             columns=countvect.get_feature_names(),
             index=documents)

,am,delicious,dinner,going,is,it,learn,nlp,not,outside,rain,to,today
It is going to rain today,0,0,0,1,1,1,0,0,0,0,1,1,1
Today I am not going outside,1,0,0,1,0,0,0,0,1,1,0,0,1
I am going to learn NLP today,1,0,0,1,0,0,1,1,0,0,0,1,1
It is delicious dinner,0,1,1,0,1,1,0,0,0,0,0,0,0

## TD-IDF Vectorizer

In [18]:
tfidf = TfidfVectorizer()
tfidf_rep = tfidf.fit_transform(processed_docs)

In [20]:
pd.DataFrame(tfidf_rep.toarray(),
             columns=tfidf.get_feature_names(),
             index=documents).round(2)

,am,delicious,dinner,going,is,it,learn,nlp,not,outside,rain,to,today
It is going to rain today,0.00,0.00,0.00,0.33,0.41,0.41,0.0,0.0,0.00,0.00,0.52,0.41,0.33
Today I am not going outside,0.43,0.00,0.00,0.34,0.00,0.00,0.0,0.0,0.54,0.54,0.00,0.00,0.34
I am going to learn NLP today,0.39,0.00,0.00,0.32,0.00,0.00,0.5,0.5,0.00,0.00,0.00,0.39,0.32
It is delicious dinner,0.00,0.56,0.56,0.00,0.44,0.44,0.0,0.0,0.00,0.00,0.00,0.00,0.00

In [27]:
# use tfidf to vectorize a new setence
tfidf.transform(['nlp is difficult to learn']).toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.43779123,
        0.        , 0.55528266, 0.55528266, 0.        , 0.        ,
        0.        , 0.43779123, 0.        ]])